= form_for @profile, html: { class: 'form-horizontal' } do |f|
  %ul
    -@profile.errors.full_messages.each do |err|
      %li
        =err
  .form-group
    = f.label :first_name, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :phone_no, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :phone_no, class: 'form-control'
  .form-group
    = f.label :street_name, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :street_name, class: 'form-control'
  .form-group
    = f.label :house_no, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :house_no, class: 'form-control'
  .form-group
    = f.label :apartment_no, class: 'control-label col-sm-2'
    .col-sm-8
      = f.number_field :apartment_no, class: 'form-control'
  .form-group
    = f.label :zip_code, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :zip_code, class: 'form-control'
  .form-group
    = f.label :city_name, class: 'control-label col-sm-2'
    .col-sm-8
      = f.text_field :city_name, class: 'form-control'
  .col-md-2.col-md-offset-5  
    .actions= f.submit "Zapisz!", class: 'btn btn-default btn-primary'
