.container  
  .col-md-6.col-md-offset-3
    %h1
      = @profile.first_name 
      = @profile.last_name
      %br/
      = @profile.phone_no.to_s
    %h3
      = @profile.street_name 
      = @profile.house_no.to_s + (@profile.apartment_no ? '/' + @profile.apartment_no.to_s : '')
      %br/
      = @profile.zip_code 
      = @profile.city_name
    %hr
      %small
        .row= @profile.created_at.strftime("Konto założone %d/%m/%Y, %k:%M:%S")
        .row= link_to "Edytuj swoje dane", edit_profile_path(@profile)
