%h2
  Edytuj swoje konto
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Trwa czekanie na potwierdzenie: #{resource.unconfirmed_email}
  .field
    = f.label :password
    %i (pozostaw puste, jeśli nie chcesz zmieniać)
    %br/
    = f.password_field :password, autocomplete: "off"
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off"
  .field
    = f.label :current_password
    %i (potrzebujemy Twojego obecnego hasła do potwierdzenia zmian)
    %br/
    = f.password_field :current_password, autocomplete: "off"
  .actions
    = f.submit "Zmień"
