:css
  .header { font-size: 20pt; }
  .header + .invoice-number { margin-top: -5mm; }
  .invoice-number {  }
  .status { }

  /* invoicing date and place */
  .invoice-details-tbl {
    position: absolute;
    left: 7px;
    top: 122px;
    width: 315px;
    /*margin-bottom: 15px;*/
    /*border-top: 1pt solid #EEEEEE; */
    /*border-left: 1pt solid #EEEEEE; */
    /*border-right: 1pt solid #EEEEEE; */
  }
  .invoice-detail { margin-top: -5mm; }

  /* seller details */
  .seller-details-tbl {
    position: absolute;
    left: 7px;
    top: 166px;
    width: 315px;
  }
  .seller-label { }
  .seller-label + .seller-name { margin-top: -2mm; }
  .seller-name { font-weight: bold; }
  .seller-name + .seller-param { margin-top: -2mm; }
  .seller-param { margin-top: -5mm; }
  

  /* buyer details */
  .buyer-details-tbl {
    position: absolute;
    left: 350px;
    top: 166px;
    width: 315px;
  }
  .buyer-label { }
  .buyer-label + .buyer-name { margin-top: -2mm; }
  .buyer-name { font-weight: bold; }
  .buyer-name + .buyer-param { margin-top: -2mm; }
  .buyer-param { margin-top: -5mm; }

  /*items table*/  
  .items-tbl {
    position: absolute;
    left: 7px;
    top: 400px;
    width: 100%;
    font-size: 10pt;
    border-collapse: collapse;
  }
  .t-al-right { text-align: right; }
  .t-bold { font-weight: bold; }
  td { padding: 5px; border: 1px solid black; }




/* THERE BE HTML */

%html
  %head
    %meta{:charset => "utf-8"}
    %title Faktura
  %body
    %h1.header Faktura VAT
    %h3.invoice-number
      = 'nr '+@invoice_number+'/FV/'+@current_year
    
    %h3.status ORYGINAŁ
    
    %div.invoice-details-tbl
      %p.invoice-detail
        = "Data sprzedaży: "+@transaction_date
      %p.invoice-detail
        = "Data wystawienia: "+@invoicing_date
      %p.invoice-detail Miejsce wystawienia: Łódź


    %div.seller-details-tbl
      %p.seller-label Sprzedawca:
      %p.seller-name Apple Pieróg
      %p.seller-param NIP: 000-000-00-00
      %p.seller-param
        Nazwaulicy 10/10
        %br>/
        90-210, Łódź
      %p.seller-param tel: 500-500-500
      %p.seller-param email: email@applepierog.com

    %div.buyer-details-tbl
      %p.buyer-label Nabywca:
      %p.buyer-name
        = @buyer_first_name + " " +@buyer_last_name
      %p.buyer-param
        = @buyer_street_name + " " + @buyer_house_no + @buyer_apartment_no
        %br>/
        = @buyer_zip_code + ", " + @buyer_city_name
      -# %p.buyer-param tel: 500-500-500
      %p.buyer-param
        = "email: " + @buyer_user_email


    -#%div.items-tbl-div
    %table.items-tbl
      %tbody
        %tr
          %td.t-al-right.t-bold{:style => "width: 2em; "}
            Lp.
          %td.t-bold{:style => "width: 13em;"}
            Nazwa towaru
          %td.t-al-right.t-bold{:style => "width: 3em;"}
            Jm.
          %td.t-al-right.t-bold{:style => "width: 3em;"}
            Ilość
          %td.t-al-right.t-bold{:style => "width: 4em;"}
            Cena j. netto
          %td.t-al-right.t-bold{:style => "width: 4em;"}
            Wartość netto
          %td.t-al-right.t-bold{:style => "width: 4em;"}
            Stawka VAT
          %td.t-al-right.t-bold{:style => "width: 4em;"}
            Kwota VAT
          %td.t-al-right.t-bold{:style => "width: 4em;"}
            Wartość brutto
        %tr
          %td.t-al-right
            1
          %td
            Wyjątkowo długa nazwa towaru
          %td.t-al-right
            szt.
          %td.t-al-right
            1
          %td.t-al-right
            100,00
          %td.t-al-right.t-bold
            100,00
          %td.t-al-right
            23%
          %td.t-al-right
            23,00
          %td.t-al-right.t-bold
            123,00
