:css
  .header { font-size: 20pt; }
  .header + .invoice-number { margin-top: -5mm; }
  .invoice-number {  }
  .status { }

  /* invoicing date and place */
  .invoice-details-div {
    position: absolute;
    left: 7px;
    top: 122px;
    width: 315px;
    /*margin-bottom: 15px;*/
    /*border-top: 1pt solid #EEEEEE; */
    /*border-left: 1pt solid #EEEEEE; */
    /*border-right: 1pt solid #EEEEEE; */
  }
  .invoice-detail { margin-top: -5mm; }

  /* seller details */
  .seller-details-div {
    position: absolute;
    left: 7px;
    top: 166px;
    width: 315px;
  }
  .seller-label { }
  .seller-label + .seller-name { margin-top: -2mm; }
  .seller-name { font-weight: bold; }
  .seller-name + .seller-param { margin-top: -2mm; }
  .seller-param { margin-top: -5mm; }
  

  /* buyer details */
  .buyer-details-div {
    position: absolute;
    left: 350px;
    top: 166px;
    width: 315px;
  }
  .buyer-label { }
  .buyer-label + .buyer-name { margin-top: -2mm; }
  .buyer-name { font-weight: bold; }
  .buyer-name + .buyer-param { margin-top: -2mm; }
  .buyer-param { margin-top: -5mm; }

  /*items table*/  
  .items-tbl {
    position: absolute;
    left: 7px;
    top: 400px;
    width: 100%;
    font-size: 10pt;
    border-collapse: collapse;
    empty-cells: hide;
  }
  .al-right { text-align: right; }
  .al-left { text-align: left; }
  .bold { font-weight: bold; }
  td { padding: 5px; border: 1px solid black; }
  th:empty, td:empty { border: 0; background-color: #FFFFFF }
  .gray { background-color: #BBBBBB }
  .no-border { border: 0 }

  .sum-div {
    position: absolute;
    left: 7px;
    top: 700px;
    width: 315px;
  }




/* THERE BE HTML */

%html
  %head
    %meta{:charset => "utf-8"}
    %title Faktura
  %body
    %h1.header Faktura VAT
    %h3.invoice-number
      = 'nr '+@invoice_number+'/FV/'+@current_year
    
    %h3.status ORYGINAŁ
    
    %div.invoice-details-div
      %p.invoice-detail
        = "Data sprzedaży: "+@transaction_date
      %p.invoice-detail
        = "Data wystawienia: "+@invoicing_date
      %p.invoice-detail Miejsce wystawienia: Łódź


    %div.seller-details-div
      %p.seller-label Sprzedawca:
      %p.seller-name Apple Pieróg
      %p.seller-param NIP: 000-000-00-00
      %p.seller-param
        Nazwaulicy 10/10
        %br>/
        90-210, Łódź
      %p.seller-param tel: 500-500-500
      %p.seller-param email: email@applepierog.com

    %div.buyer-details-div
      %p.buyer-label Nabywca:
      %p.buyer-name
        = @buyer_first_name + " " +@buyer_last_name
      %p.buyer-param
        = @buyer_street_name + " " + @buyer_house_no + @buyer_apartment_no
        %br>/
        = @buyer_zip_code + ", " + @buyer_city_name
      -# %p.buyer-param tel: 500-500-500
      %p.buyer-param
        = "email: " + @buyer_user_email


    %table.items-tbl
      %tbody
        %tr.al-right.bold.gray
          %td{:style => "width: 2em; "}
            Lp.
          %td.al-left{:style => "width: 13em;"}
            Nazwa towaru
          %td{:style => "width: 3em;"}
            Jm.
          %td{:style => "width: 3em;"}
            Ilość
          %td{:style => "width: 4em;"}
            Cena j. netto
          %td{:style => "width: 4em;"}
            Wartość netto
          %td{:style => "width: 4em;"}
            Stawka VAT
          %td{:style => "width: 4em;"}
            Kwota VAT
          %td{:style => "width: 4em;"}
            Wartość brutto
        %tr.al-right
          %td
            1
          %td.al-left
            Wyjątkowo długa nazwa towaru
          %td
            szt.
          %td
            1
          %td
            100,00
          %td.bold
            100,00
          %td
            23%
          %td
            23,00
          %td.bold
            123,00
        %tr.al-right
          %td
            2
          %td.al-left
            Krótsza nazwa towaru
          %td
            szt.
          %td
            3
          %td
            50,00
          %td.bold
            150,00
          %td
            23%
          %td
            31,50
          %td.bold
            181,50
        /*summing row*/
        %tr.bold.al-right.gray
          %td
          %td
          %td
          %td
          %td
            RAZEM
          %td
            250,00
          %td
            =' '
          %td
            54,50
          %td
            304,50
        %tr.al-right
          %td
          %td
          %td
          %td
          %td
            w tym
          %td
            250,00
          %td
            23%
          %td
            54,50
          %td
            304,50

    %div.sum-div
      %h2
        Do zapłaty: 304,50zł
      %p
        Słownie: trzysta cztery złote, pięćdziesiąt groszy

