:css
  .header { font-size: 20pt; }
  .header + .invoice-number { margin-top: -5mm; }
  .invoice-number {  }
  .status { }

  /* invoicing date and place */
  .invoice-details-div {
    position: absolute;
    left: 7px;
    top: 122px;
    width: 315px;
    /*margin-bottom: 15px;*/
    /*border-top: 1pt solid #EEEEEE; */
    /*border-left: 1pt solid #EEEEEE; */
    /*border-right: 1pt solid #EEEEEE; */
  }
  .invoice-detail { margin-top: -5mm; }

  /* seller details */
  .seller-details-div {
    position: absolute;
    left: 7px;
    top: 166px;
    width: 315px;
  }
  .seller-label { }
  .seller-label + .seller-name { margin-top: -2mm; }
  .seller-name { font-weight: bold; }
  .seller-name + .seller-param { margin-top: -2mm; }
  .seller-param { margin-top: -5mm; }
  .seller-param + .bank-param { margin-top: -2mm; }
  .bank-param { margin-top: -5mm; }
  

  /* buyer details */
  .buyer-details-div {
    position: absolute;
    left: 350px;
    top: 166px;
    width: 315px;
  }
  .buyer-label { }
  .buyer-label + .buyer-name { margin-top: -2mm; }
  .buyer-name { font-weight: bold; }
  .buyer-name + .buyer-param { margin-top: -2mm; }
  .buyer-param { margin-top: -5mm; }

  /*items table*/  
  .items-tbl {
    position: absolute;
    left: 7px;
    top: 400px;
    width: 100%;
    font-size: 10pt;
    border-collapse: collapse;
    empty-cells: hide;
  }
  .al-right { text-align: right; }
  .al-left { text-align: left; }
  .bold { font-weight: bold; }
  td { padding: 5px; border: 1px solid black; }
  th:empty, td:empty { border: 0; background-color: #FFFFFF }
  .gray { background-color: #BBBBBB }
  .no-border { border: 0 }

  .sum-div {
    position: absolute;
    left: 7px;
    top: 700px;
    width: 315px;
  }




/* THERE BE HTML */

%html
  %head
    %meta{:charset => "utf-8"}
    %title Faktura
  %body
    %h1.header Faktura VAT
    %h3.invoice-number
      = 'nr '+@order.id+'/FV/'+@order.created_at.year.to_s
    
    %h3.status ORYGINAŁ
    
    %div.invoice-details-div
      %p.invoice-detail
        = 'Data sprzedaży: '+@order.created_at
      %p.invoice-detail
        = 'Data wystawienia: '+@order.created_at
      %p.invoice-detail
        = 'Miejsce wystawienia: '+@order.company_city_name


    %div.seller-details-div
      %p.seller-label Sprzedawca:
      %p.seller-name
        =@order.company_first_name +' '+ @order.company_last_name
      %p.seller-param NIP: 000-000-00-00
      %p.seller-param
        -formatted_apartment = (@order.company_apartment_no ? '/'+@order.company_apartment_no.to_s : '')
        =@order.company_street_name + ' ' + @order.company_house_no + formatted_apartment
        %br>/
        =@order.company_zip_code + ', ' + @order.company_city_name
      %p.seller-param
        ='tel: '+@order.company_phone_no
      %p.bank-param Bank: NazwaBank
      %p.bank-param Konto: 12 3456 7890 1234 1234 1234 1234

    %div.buyer-details-div
      %p.buyer-label Nabywca:
      %p.buyer-name
        = @order.client_first_name + ' ' + @order.client_last_name
      %p.buyer-param
        - formatted_apartment = ( @order.client_apartment_no ? '/'+ @order.client_apartment_no.to_s : '')
        = @order.client_street_name + ' ' + @order.client_house_no + formatted_apartment
        %br>/
        = @order.client_zip_code + ', ' + @order.client_city_name
      %p.buyer_param
        = 'tel: '@order.client_phone_no

    %table.items-tbl
      %tbody
        %tr.al-right.bold.gray
          %td{:style => "width: 2em; "}
            Lp.
          %td.al-left{:style => "width: 13em;"}
            Nazwa towaru
          %td{:style => "width: 3em;"}
            Jm.
          %td{:style => "width: 3em;"}
            Ilość
          %td{:style => "width: 4em;"}
            Cena j. netto
          %td{:style => "width: 4em;"}
            Wartość netto
          %td{:style => "width: 4em;"}
            Stawka VAT
          %td{:style => "width: 4em;"}
            Kwota VAT
          %td{:style => "width: 4em;"}
            Wartość brutto
        -@order.order_products.each_with_index do |item, i|
          %tr.al-right
            %td
              =i
            %td.al-left
              =item.name
            %td
              szt.
            %td
              =item.quantity
            %td
              =number_to_currency(item.price * (100/123), format: '%n%u', unit: 'zł')
            %td.bold
              =number_to_currency(item.quantity * item.price * (100/123), format: '%n%u', unit: 'zł')
            %td
              23%
            %td
              =number_to_currency(item.quantity * item.price * (23/123), format: '%n%u', unit: 'zł')
            %td.bold
              =number_to_currency(item.quantity * item.price, format: '%n%u', unit: 'zł')
        /*summing row*/
        %tr.bold.al-right.gray
          %td
          %td
          %td
          %td
          %td
            RAZEM
          %td
            =number_to_currency(@order.sum*(100/123), format: '%n%u', unit: 'zł')
          %td
            =' '
          %td
            =number_to_currency(@order.sum*(23/123), format: '%n%u', unit: 'zł')
          %td
            =number_to_currency(@order.sum, format: '%n%u', unit: 'zł')
        %tr.al-right
          %td
          %td
          %td
          %td
          %td
            w tym
          %td
            =number_to_currency(@order.sum*(100/123), format: '%n%u', unit: 'zł')
          %td
            23%
          %td
            =number_to_currency(@order.sum*(23/123), format: '%n%u', unit: 'zł')
          %td
            =number_to_currency(@order.sum, format: '%n%u', unit: 'zł')

    %div.sum-div
      %h2
        = 'Do zapłaty: '+number_to_currency(@order.sum, format: '%n%u', unit: 'zł')
      %p
        -fraction= number_with_precision((@order.sum - @order.sum.floor) * 100 , precision: 0)
        = 'Słownie: ' + PolishNumber.translate(@order.sum, :currency => :PLN) + ' ' + fraction + '/100'

