.row
  .col-sm-6.col-sm-offset-1
    %h2 Twoi klienci
    %br/
.row
  .col-sm-10.col-sm-offset-1
    %table.table.table-hover
      %thead
        %tr
          %th E-mail
          %th Imię
          %th Nazwisko
          %th Numer telefonu
          %th Adres
          %th Miasto
          %th Akcje
      %tbody
        - @users.each do |user|
          -unless user == current_user
            %tr
              %td
                = user.email
              -if user.profile
                %td
                  = user.profile.first_name
                %td
                  = user.profile.last_name
                %td
                  = user.profile.phone_no.to_s
                %td
                  = user.profile.street_name
                  = user.profile.house_no.to_s
                  = user.profile.apartment_no.to_s
                %td
                  = user.profile.zip_code
                  = user.profile.city_name
              - else
                %td
                %td
                %td
                %td
                %td
              %td
                -unless user.profile.nil?
                  = link_to "Zobacz szczegóły", admin_profile_path(user.profile.id) , class: 'btn btn-primary'
    .row
      .col-sm-5
        .dataTables_info
          #{@users.count-1} klientów
