.row
  .col-sm-6.col-sm-offset-1
    %h2 Twoje zamówienia
    %br/
.row
  .col-sm-10.col-sm-offset-1
    %table.table.table-hover.text-center
      %thead
        %tr
          %th Numer
          %th Klient
          %th Data zamówienia
          %th Ilość produktów
          %th Kwota
          %th Akcje
      %tbody
        - @orders.each do |order|
          %tr
            %td
              = order.id
            %td
              -if User.find(order.user_id).profile
                = link_to "#{order.client_first_name} #{order.client_last_name}", admin_profile_path(User.find(order.user_id).profile.id)
              -else
                = "#{order.client_first_name} #{order.client_last_name}"
            %td
              = order.created_at.strftime('%d-%m-%Y')
            %td
              = order.order_products.count.to_s
            %td
              = number_to_currency(order.sum, format: '%n%u', unit: 'zł')
            %td
              = link_to "Szczegóły", admin_order_path(order.id), class: 'btn btn-primary'
              = link_to "Faktura", admin_invoice_path(order.id, format: :pdf) , class: 'btn btn-primary'
    .row
      .col-sm-5
        .dataTables_info
          #{@orders.count} zamówień
