.row
  .col-md-4.col-md-offset-4
    = form_for @order, :html => { :class => "form-horizontal" } do |f|
      %h2.text-center Dane kupującego
      .form-group{ :class => ('has-error' if @order.errors[:client_first_name].any?) }
        = f.label :client_first_name, "Imię"
        = f.text_field :client_first_name, class: "form-control", value: (current_user.profile.first_name if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_last_name].any?) }
        = f.label :client_last_name, "Nazwisko"
        = f.text_field :client_last_name, class: "form-control", value: (current_user.profile.last_name if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_phone_no].any?) }
        = f.label :client_phone_no, "Numer telefonu"
        = f.text_field :client_phone_no, class: "form-control", value: (current_user.profile.phone_no if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_street_name].any?) }
        = f.label :client_street_name, "Ulica"
        = f.text_field :client_street_name, class: "form-control", value: (current_user.profile.street_name if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_house_no].any?) }
        = f.label :client_house_no, "Numer domu"
        = f.text_field :client_house_no, class: "form-control", value: (current_user.profile.house_no if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_apartment_no].any?) }
        = f.label :client_apartment_no, "Numer mieszkania"
        = f.number_field :client_apartment_no, class: "form-control", value: (current_user.profile.apartment_no if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_zip_code].any?) }
        = f.label :client_zip_code, "Kod pocztowy"
        = f.text_field :client_zip_code, class: "form-control", value: (current_user.profile.zip_code if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_city_name].any?) }
        = f.label :client_city_name, "Miasto"
        = f.text_field :client_city_name, class: "form-control", value: (current_user.profile.city_name if current_user && current_user.profile)
      .form-group{ :class => ('has-error' if @order.errors[:client_email].any?) }
        = f.label :client_email, "Adres email"
        = f.text_field :client_email, class: "form-control", value: (current_user.email if current_user && current_user.profile)
      .checkbox
        = label_tag do
          = check_box_tag 'invoice_agreement'
          Chcę otrzymać fakturę w postaci elektronicznej.          
        = f.hidden_field :user_id, value: (current_user.id if current_user)
        = f.hidden_field :sum, value: session[:cart_count]['items_value']
      .submit-container
        = f.submit "Zamawiam!", class: 'btn btn-success'