.container  
  .col-md-6.col-md-offset-3
    %h2 Zaloguj się
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email, 'Adres email', class: 'control-label'
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password, 'Hasło', class: 'control-label'
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me
          = f.label :remember_me
      .actions.text-center= f.submit 'Zaloguj się', class: 'btn btn-default btn-primary'
      %h4.text-center.facebook-login Albo
      %h4.text-center= render 'devise/shared/facebook'
    %hr= render 'devise/shared/links'
