.container-fluid
  .row
    .col-md-2.text-center
      .list-group
        %h4.list-group-item.active Kategorie
        / - @categories.each do |category|
        /   = link_to category.name.capitalize, admin_products_path(category_id: category.id), class: "list-group-item"
    .col-md-10
      %h1 Produkty:
      %table.table.table-striped
        %thead
          %tr
            %th{data_field: :product} Produkt
            %th{data_field: :price} Cena
            %th{data_field: :category} Kategoria
            %th{data_field: 'gear.parent'} Typ
            %th{data_field: :gear} Model
        - @products.each do |p|
          %tr
            %td=  p.name
            %td=  p.price
            %td=  p.category.name
            %td=  p.gear.parent.name
            %td=  p.gear.name
            %td=  link_to 'Szczegóły', product_path(p.id)
      = link_to 'Nowy Produkt', new_admin_product_path
