.container-fluid
  .row
    .col-md-2.text-center
      =render 'filters'
    .col-sm-10
      %h2 Twoje produkty
      .row
        .col-sm-2
          %a.btn.btn-primary.btn-block{:type => "button", :href => new_admin_product_path } Dodaj produkt
          %br/
      .row
        .col-sm-10
          %table.table.table-hover
            %thead
              %tr
                %th
                %th Produkt
                %th Cena
                %th Kategoria
                %th Typ
                %th Model
                %th Status
                %th Akcje
            %tbody
              - @products.each do |p|
                %tr
                  %td=  image_tag p.product_images.first.photo(:miniature)
                  %td=  p.name
                  %td=  p.price
                  %td=  p.category.name
                  %td=  p.gear.parent.name
                  %td=  p.gear.name
                  %td=  p.status
                  %td
                    .col-md-5 
                      =link_to "Szczegóły", admin_product_path(p.id), class: 'btn btn-primary'
                    .col-md-5
                      =link_to 'Edytuj', edit_admin_product_path(p.id), class: 'btn btn-primary'
      .row
        .col-sm-5
          #{@products.count} produktów
          %hr
      %h2 Układ produktów na stronie głównej
      .row
        .col-sm-2
          = link_to products_seq_admin_products_path, class: 'btn btn-primary' do
            = icon 'wrench'
            Przejdź do edycji
      %br/    
