/ Left side column. contains the logo and sidebar
%aside.main-sidebar
  / sidebar: style can be found in sidebar.less
  %section.sidebar{:style => "height: auto;"}
    / Sidebar user panel
    .user-panel
    / sidebar menu: : style can be found in sidebar.less
    %ul.sidebar-menu
      %li.header NAWIGACJA
      %li
        %a{:href => "pages/calendar.html"}
          %i.fa.fa-calendar
          %span Kalendarz
          %small.label.pull-right.bg-red 3
      %li
        %a{:href => "pages/mailbox/mailbox.html"}
          %i.fa.fa-envelope
          %span Skrzynka pocztowa
          %small.label.pull-right.bg-yellow 12
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-folder
          %span Przykłady
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "pages/examples/invoice.html"}
              %i.fa.fa-circle-o
              Przykład 1
          %li
            %a{:href => "pages/examples/login.html"}
              %i.fa.fa-circle-o
              Logowanie
          %li
            %a{:href => "pages/examples/register.html"}
              %i.fa.fa-circle-o
              Rejestracja
          %li
            %a{:href => "pages/examples/lockscreen.html"}
              %i.fa.fa-circle-o
              Blokowanie
          %li
            %a{:href => "pages/examples/404.html"}
              %i.fa.fa-circle-o
              404 Błąd
          %li
            %a{:href => "pages/examples/500.html"}
              %i.fa.fa-circle-o
              500 Błąd
          %li
            %a{:href => "pages/examples/blank.html"}
              %i.fa.fa-circle-o
              Pusta strona
      %li.treeview
        %a{:href => "#"}
          %i.fa.fa-share
          %span Multilevel
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          %li
            %a{:href => "#"}
              %i.fa.fa-circle-o
              Level One
          %li
            %a{:href => "#"}
              %i.fa.fa-circle-o
              Level One
              %i.fa.fa-angle-left.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle-o
                  Level Two
              %li
                %a{:href => "#"}
                  %i.fa.fa-circle-o
                  Level Two
                  %i.fa.fa-angle-left.pull-right
                %ul.treeview-menu
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-circle-o
                      Level Three
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-circle-o
                      Level Three
          %li
            %a{:href => "#"}
              %i.fa.fa-circle-o
              Level One
      %li
        %a{:href => "documentation/index.html"}
          %i.fa.fa-book
          %span Dokumentacja
      %li.header Etykiety
      %li
        %a{:href => "#"}
          %i.fa.fa-circle-o.text-red
          %span Ważne
      %li
        %a{:href => "#"}
          %i.fa.fa-circle-o.text-yellow
          %span Ostrzeżenie
      %li
        %a{:href => "#"}
          %i.fa.fa-circle-o.text-aqua
          %span Informacja
  / /.sidebar
/ Content Wrapper. Contains page content
.content-wrapper{:style => "min-height: 916px;"}
  / Content Header (Page header)
  %section.content-header
    %h1
      Tablica
      %small Panel administratora
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Administrator
      %li.active Tablica
  / Main content
  %section.content
    / Small boxes (Stat box)
    .row
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-purple
          .inner
            %h3 150
            %p Zamówień
          .icon
            %i.ion.ion-bag
          %a.small-box-footer{:href => "#"}
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-aqua
          .inner
            %h3 #{@models.count}
            %p Modeli
          .icon
            %i.ion.ion-stats-bars
          %a.small-box-footer{:href => "/admin/modelindex"}
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-green
          .inner
            %h3 #{@types.count}
            %p Typów
          .icon
            %i.ion.ion-stats-bars
          %a.small-box-footer{:href => admin_gears_path }
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-yellow
          .inner
            %h3 #{@categories.count}
            %p Kategorii
          .icon
            %i.ion.ion-pie-graph
          %a.small-box-footer{:href => admin_categories_path }
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-orange
          .inner
            %h3 #{@users.count}
            %p Użytkowników
          .icon
            %i.ion.ion-person-add
          %a.small-box-footer{:href => admin_profiles_path}
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
      .col-lg-2.col-xs-6
        / small box
        .small-box.bg-red
          .inner
            %h3 #{@products.count}
            %p Produktów
          .icon
            %i.ion.ion-pie-graph
          %a.small-box-footer{:href => admin_products_path}
            Zarządzaj
            %i.fa.fa-arrow-circle-right
      / ./col
    / /.row
    / Main row
    .row
      / Left col
      %section.col-lg-7.connectedSortable.ui-sortable
        / Custom tabs (Charts with tabs)
        .nav-tabs-custom{:style => "cursor: move;"}
          / Tabs within a box
          %ul.nav.nav-tabs.pull-right.ui-sortable-handle
            %li.pull-left.header
              %i.fa.fa-inbox
              Sprzedaż
          .tab-content.no-padding
            / Morris chart - Sales
            #revenue-chart.chart.tab-pane.active{:style => "position: relative; height: 300px;"}
              %svg{:height => "300", :style => "overflow: hidden; position: relative; top: -0.633331px;", :version => "1.1", :width => "580", :xmlns => "http://www.w3.org/2000/svg"}
                %desc Created with Raphaël 2.1.0
                %defs
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 12px sans-serif;", "text-anchor" => "end", :x => "56.5", :y => "260"}
                  %tspan{:dy => "4"} 0
                %path{:d => "M69,260H555", :fill => "none", :stroke => "#aaaaaa", "stroke-width" => "0.5", :style => ""}
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 12px sans-serif;", "text-anchor" => "end", :x => "56.5", :y => "201.25"}
                  %tspan{:dy => "4"} 7,500
                %path{:d => "M69,201.25H555", :fill => "none", :stroke => "#aaaaaa", "stroke-width" => "0.5", :style => ""}
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 12px sans-serif;", "text-anchor" => "end", :x => "56.5", :y => "142.5"}
                  %tspan{:dy => "4"} 15,000
                %path{:d => "M69,142.5H555", :fill => "none", :stroke => "#aaaaaa", "stroke-width" => "0.5", :style => ""}
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 12px sans-serif;", "text-anchor" => "end", :x => "56.5", :y => "83.75"}
                  %tspan{:dy => "4"} 22,500
                %path{:d => "M69,83.75H555", :fill => "none", :stroke => "#aaaaaa", "stroke-width" => "0.5", :style => ""}
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 12px sans-serif;", "text-anchor" => "end", :x => "56.5", :y => "25.00000000000003"}
                  %tspan{:dy => "4.000000000000028"} 30,000
                %path{:d => "M69,25.00000000000003H555", :fill => "none", :stroke => "#aaaaaa", "stroke-width" => "0.5", :style => ""}
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: middle; font: 12px sans-serif;", "text-anchor" => "middle", :transform => "matrix(1,0,0,1,0,7.5)", :x => "465.85119740772615", :y => "272.5"}
                  %tspan{:dy => "4"} 2014
                %text{:fill => "#888888", :font => "10px \"Arial\"", "font-family" => "sans-serif", "font-size" => "12px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: middle; font: 12px sans-serif;", "text-anchor" => "middle", :transform => "matrix(1,0,0,1,0,7.5)", :x => "249.70902739101817", :y => "272.5"}
                  %tspan{:dy => "4"} 2015
                %path{:d => "M69,218.23266666666666C82.5765530859197,218.74183333333332,109.7296592577591,221.7857189599849,123.3062123436788,220.26933333333335C136.8889170168599,218.75226062665158,164.05432636322212,208.35483333333335,177.63703103640322,206.09883333333335C191.078249202572,203.86633333333336,217.96068553490963,204.12035054741742,231.40190370107842,202.31533333333334C244.83697027998582,200.5111422140841,271.7071034378006,194.19352425415624,285.142170016708,191.662C298.7187231026277,189.1038159208229,325.87182927446713,181.84979500755003,339.4483823603868,181.9565C353.0310870335679,182.06325334088336,380.19649637993007,203.4188490401396,393.7792010531112,192.51583333333332C407.22041921928,181.72639070680626,434.1028555516176,101.6193837744534,447.54407371778643,95.18666666666667C460.8315022024201,88.82755044112007,487.4063591716875,134.66980753377607,500.69378765632115,141.3485C514.2703407422408,148.17251586710938,541.4234469140803,147.23525,555,149.1975L555,260L69,260Z", :fill => "#74a5c1", "fill-opacity" => "1", :stroke => "none", :style => "fill-opacity: 1;"}
                %path{:d => "M69,218.23266666666666C82.5765530859197,218.74183333333332,109.7296592577591,221.7857189599849,123.3062123436788,220.26933333333335C136.8889170168599,218.75226062665158,164.05432636322212,208.35483333333335,177.63703103640322,206.09883333333335C191.078249202572,203.86633333333336,217.96068553490963,204.12035054741742,231.40190370107842,202.31533333333334C244.83697027998582,200.5111422140841,271.7071034378006,194.19352425415624,285.142170016708,191.662C298.7187231026277,189.1038159208229,325.87182927446713,181.84979500755003,339.4483823603868,181.9565C353.0310870335679,182.06325334088336,380.19649637993007,203.4188490401396,393.7792010531112,192.51583333333332C407.22041921928,181.72639070680626,434.1028555516176,101.6193837744534,447.54407371778643,95.18666666666667C460.8315022024201,88.82755044112007,487.4063591716875,134.66980753377607,500.69378765632115,141.3485C514.2703407422408,148.17251586710938,541.4234469140803,147.23525,555,149.1975", :fill => "none", :stroke => "#3c8dbc", "stroke-width" => "3", :style => ""}
                %circle{:cx => "69", :cy => "218.23266666666666", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "123.3062123436788", :cy => "220.26933333333335", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "177.63703103640322", :cy => "206.09883333333335", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "231.40190370107842", :cy => "202.31533333333334", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "285.142170016708", :cy => "191.662", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "339.4483823603868", :cy => "181.9565", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "393.7792010531112", :cy => "192.51583333333332", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "447.54407371778643", :cy => "95.18666666666667", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "500.69378765632115", :cy => "141.3485", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "555", :cy => "149.1975", :fill => "#3c8dbc", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %path{:d => "M69,239.11633333333333C82.5765530859197,238.897,109.7296592577591,240.43771021140054,123.3062123436788,238.239C136.8889170168599,236.03929354473388,164.05432636322212,222.49613263525308,177.63703103640322,221.52266666666668C191.078249202572,220.5593409685864,217.96068553490963,232.3507170405127,231.40190370107842,230.49183333333335C244.83697027998582,228.63380037384604,271.7071034378006,208.50859394215442,285.142170016708,206.655C298.7187231026277,204.78188560882109,325.87182927446713,213.6368996791242,339.4483823603868,215.585C353.0310870335679,217.53398301245753,380.19649637993007,231.49864223385688,393.7792010531112,222.24333333333334C407.22041921928,213.08443390052355,434.1028555516176,147.70599141733794,447.54407371778643,141.92816666666667C460.8315022024201,136.21644975067127,487.4063591716875,169.85250580108388,500.69378765632115,176.28516666666667C514.2703407422408,182.85779746775057,541.4234469140803,189.53329166666668,555,193.94933333333336L555,260L69,260Z", :fill => "#eaf2f5", "fill-opacity" => "1", :stroke => "none", :style => "fill-opacity: 1;"}
                %path{:d => "M69,239.11633333333333C82.5765530859197,238.897,109.7296592577591,240.43771021140054,123.3062123436788,238.239C136.8889170168599,236.03929354473388,164.05432636322212,222.49613263525308,177.63703103640322,221.52266666666668C191.078249202572,220.5593409685864,217.96068553490963,232.3507170405127,231.40190370107842,230.49183333333335C244.83697027998582,228.63380037384604,271.7071034378006,208.50859394215442,285.142170016708,206.655C298.7187231026277,204.78188560882109,325.87182927446713,213.6368996791242,339.4483823603868,215.585C353.0310870335679,217.53398301245753,380.19649637993007,231.49864223385688,393.7792010531112,222.24333333333334C407.22041921928,213.08443390052355,434.1028555516176,147.70599141733794,447.54407371778643,141.92816666666667C460.8315022024201,136.21644975067127,487.4063591716875,169.85250580108388,500.69378765632115,176.28516666666667C514.2703407422408,182.85779746775057,541.4234469140803,189.53329166666668,555,193.94933333333336", :fill => "none", :stroke => "#a0d0e0", "stroke-width" => "3", :style => ""}
                %circle{:cx => "69", :cy => "239.11633333333333", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "123.3062123436788", :cy => "238.239", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "177.63703103640322", :cy => "221.52266666666668", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "231.40190370107842", :cy => "230.49183333333335", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "285.142170016708", :cy => "206.655", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "339.4483823603868", :cy => "215.585", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "393.7792010531112", :cy => "222.24333333333334", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "447.54407371778643", :cy => "141.92816666666667", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "500.69378765632115", :cy => "176.28516666666667", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
                %circle{:cx => "555", :cy => "193.94933333333336", :fill => "#a0d0e0", :r => "4", :stroke => "#ffffff", "stroke-width" => "1", :style => ""}
              .morris-hover.morris-default-style{:style => "display: none;"}
        / quick email widget
        .box.box-info
          .box-header.ui-sortable-handle{:style => "cursor: move;"}
            %i.fa.fa-envelope
            %h3.box-title Quick Email
            / tools box
            .pull-right.box-tools
              %button.btn.btn-info.btn-sm{"data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove"}
                %i.fa.fa-times
            / /. tools
          .box-body
            %form{:action => "#", :method => "post"}
              .form-group
                %input.form-control{:name => "emailto", :placeholder => "Email to:", :type => "email"}/
              .form-group
                %input.form-control{:name => "subject", :placeholder => "Subject", :type => "text"}/
              %div
                %ul.wysihtml5-toolbar{:style => ""}
                  %li.dropdown
                    %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown"}
                      %span.glyphicon.glyphicon-font
                      %span.current-font Normal text
                      %b.caret
                    %ul.dropdown-menu
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "p", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Normal text
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h1", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 1
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h2", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 2
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h3", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 3
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h4", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 4
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h5", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 5
                      %li
                        %a{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "h6", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"} Heading 6
                  %li
                    .btn-group
                      %a.btn.btn-default{"data-wysihtml5-command" => "bold", :href => "javascript:;", :tabindex => "-1", :title => "CTRL+B", :unselectable => "on"} Bold
                      %a.btn.btn-default{"data-wysihtml5-command" => "italic", :href => "javascript:;", :tabindex => "-1", :title => "CTRL+I", :unselectable => "on"} Italic
                      %a.btn.btn-default{"data-wysihtml5-command" => "underline", :href => "javascript:;", :tabindex => "-1", :title => "CTRL+U", :unselectable => "on"} Underline
                      %a.btn.btn-default{"data-wysihtml5-command" => "small", :href => "javascript:;", :tabindex => "-1", :title => "CTRL+S", :unselectable => "on"} Small
                  %li
                    %a.btn.btn-default{"data-wysihtml5-command" => "formatBlock", "data-wysihtml5-command-value" => "blockquote", "data-wysihtml5-display-format-name" => "false", :href => "javascript:;", :tabindex => "-1", :unselectable => "on"}
                      %span.glyphicon.glyphicon-quote
                  %li
                    .btn-group
                      %a.btn.btn-default{"data-wysihtml5-command" => "insertUnorderedList", :href => "javascript:;", :tabindex => "-1", :title => "Unordered list", :unselectable => "on"}
                        %span.glyphicon.glyphicon-list
                      %a.btn.btn-default{"data-wysihtml5-command" => "insertOrderedList", :href => "javascript:;", :tabindex => "-1", :title => "Ordered list", :unselectable => "on"}
                        %span.glyphicon.glyphicon-th-list
                      %a.btn.btn-default{"data-wysihtml5-command" => "Outdent", :href => "javascript:;", :tabindex => "-1", :title => "Outdent", :unselectable => "on"}
                        %span.glyphicon.glyphicon-indent-right
                      %a.btn.btn-default{"data-wysihtml5-command" => "Indent", :href => "javascript:;", :tabindex => "-1", :title => "Indent", :unselectable => "on"}
                        %span.glyphicon.glyphicon-indent-left
                  %li
                    .bootstrap-wysihtml5-insert-link-modal.modal.fade{"data-wysihtml5-dialog" => "createLink"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %a.close{"data-dismiss" => "modal"} ×
                            %h3 Insert link
                          .modal-body
                            .form-group
                              %input.bootstrap-wysihtml5-insert-link-url.form-control{"data-wysihtml5-dialog-field" => "href", :value => "http://"}/
                            .checkbox
                              %label
                                %input.bootstrap-wysihtml5-insert-link-target{:checked => "checked", :type => "checkbox"}>/
                                Open link in new window
                          .modal-footer
                            %a.btn.btn-default{"data-dismiss" => "modal", "data-wysihtml5-dialog-action" => "cancel", :href => "#"} Cancel
                            %a.btn.btn-primary{"data-dismiss" => "modal", "data-wysihtml5-dialog-action" => "save", :href => "#"} Insert link
                    %a.btn.btn-default{"data-wysihtml5-command" => "createLink", :href => "javascript:;", :tabindex => "-1", :title => "Insert link", :unselectable => "on"}
                      %span.glyphicon.glyphicon-share
                  %li
                    .bootstrap-wysihtml5-insert-image-modal.modal.fade{"data-wysihtml5-dialog" => "insertImage"}
                      .modal-dialog
                        .modal-content
                          .modal-header
                            %a.close{"data-dismiss" => "modal"} ×
                            %h3 Insert image
                          .modal-body
                            .form-group
                              %input.bootstrap-wysihtml5-insert-image-url.form-control{"data-wysihtml5-dialog-field" => "src", :value => "http://"}/
                          .modal-footer
                            %a.btn.btn-default{"data-dismiss" => "modal", "data-wysihtml5-dialog-action" => "cancel", :href => "#"} Cancel
                            %a.btn.btn-primary{"data-dismiss" => "modal", "data-wysihtml5-dialog-action" => "save", :href => "#"} Insert image
                    %a.btn.btn-default{"data-wysihtml5-command" => "insertImage", :href => "javascript:;", :tabindex => "-1", :title => "Insert image", :unselectable => "on"}
                      %span.glyphicon.glyphicon-picture
                %textarea.textarea{:placeholder => "Message", :style => "width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px; display: none;"}
                %input{:name => "_wysihtml5_mode", :type => "hidden", :value => "1"}/
                %iframe.wysihtml5-sandbox{:allowtransparency => "true", :frameborder => "0", :height => "0", :marginheight => "0", :marginwidth => "0", :security => "restricted", :style => "display: inline; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(221, 221, 221); border-style: solid; border-width: 1px; clear: none; float: none; margin: 0px; outline: 0px none rgb(0, 0, 0); outline-offset: 0px; padding: 10px; position: static; top: auto; left: auto; right: auto; bottom: auto; z-index: auto; vertical-align: text-bottom; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 100%; height: 125px;", :width => "0"}
          .box-footer.clearfix
            %button#sendEmail.pull-right.btn.btn-default
              Send
              %i.fa.fa-arrow-circle-right
      / /.Left col
      / right col (We are only adding the ID to make the widgets sortable)
      %section.col-lg-5.connectedSortable.ui-sortable
        / solid sales graph
        .box.box-solid.bg-teal-gradient
          .box-header.ui-sortable-handle{:style => "cursor: move;"}
            %i.fa.fa-th
            %h3.box-title Sprzedaż
            .box-tools.pull-right
              %button.btn.bg-teal.btn-sm{"data-widget" => "collapse"}
                %i.fa.fa-minus
              %button.btn.bg-teal.btn-sm{"data-widget" => "remove"}
                %i.fa.fa-times
          .box-body.border-radius-none
            #line-chart.chart{:style => "height: 250px;"}
              %svg{:height => "250", :style => "overflow: hidden; position: relative; left: -0.166687px; top: -0.383362px;", :version => "1.1", :width => "385", :xmlns => "http://www.w3.org/2000/svg"}
                %desc Created with Raphaël 2.1.0
                %defs
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 10px Open Sans;", "text-anchor" => "end", :x => "45.5", :y => "212"}
                  %tspan{:dy => "3.5"} 0
                %path{:d => "M58,212H360", :fill => "none", :stroke => "#efefef", "stroke-width" => "0.4", :style => ""}
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 10px Open Sans;", "text-anchor" => "end", :x => "45.5", :y => "165.25"}
                  %tspan{:dy => "3.5"} 5,000
                %path{:d => "M58,165.25H360", :fill => "none", :stroke => "#efefef", "stroke-width" => "0.4", :style => ""}
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 10px Open Sans;", "text-anchor" => "end", :x => "45.5", :y => "118.5"}
                  %tspan{:dy => "3.5"} 10,000
                %path{:d => "M58,118.5H360", :fill => "none", :stroke => "#efefef", "stroke-width" => "0.4", :style => ""}
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 10px Open Sans;", "text-anchor" => "end", :x => "45.5", :y => "71.75"}
                  %tspan{:dy => "3.5"} 15,000
                %path{:d => "M58,71.75H360", :fill => "none", :stroke => "#efefef", "stroke-width" => "0.4", :style => ""}
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: end; font: 10px Open Sans;", "text-anchor" => "end", :x => "45.5", :y => "25"}
                  %tspan{:dy => "3.5"} 20,000
                %path{:d => "M58,25H360", :fill => "none", :stroke => "#efefef", "stroke-width" => "0.4", :style => ""}
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: middle; font: 10px Open Sans;", "text-anchor" => "middle", :transform => "matrix(1,0,0,1,0,6.5)", :x => "304.6030074426611", :y => "224.5"}
                  %tspan{:dy => "3.5"} 2013
                %text{:fill => "#ffffff", :font => "10px \"Arial\"", "font-family" => "Open Sans", "font-size" => "10px", "font-weight" => "normal", :stroke => "none", :style => "text-anchor: middle; font: 10px Open Sans;", "text-anchor" => "middle", :transform => "matrix(1,0,0,1,0,6.5)", :x => "170.2924408890689", :y => "224.5"}
                  %tspan{:dy => "3.5"} 2012
                %path{:d => "M58,187.0729C66.43645891347273,186.8111,83.3093767404182,188.65011793318234,91.74583565389094,186.0257C100.18611715862488,183.40009293318232,117.06668016809274,167.23474554973822,125.50696167282669,166.0728C133.859323578553,164.9229580497382,150.56404739000556,178.99734523346302,158.91640929573185,176.77855C167.26494861019694,174.56077023346302,183.96202723912714,150.5389812798907,192.31056655359222,148.3265C200.74702546706496,146.0907187798907,217.61994329401043,156.66021429784826,226.05640220748316,158.9855C234.49668371221708,161.31183929784825,251.37724672168494,177.98029424083768,259.81752822641886,166.933C268.16989013214516,156.00078174083768,284.87461394359775,77.96395996835442,293.22697584932405,71.06744999999998C301.4837729735203,64.24984746835442,317.9973672219128,104.39841649874056,326.254164346109,112.07655C334.69062325958174,119.92175399874056,351.56354108652727,127.8897375,360,133.1608", :fill => "none", :stroke => "#efefef", "stroke-width" => "2", :style => ""}
                %circle{:cx => "58", :cy => "187.0729", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "91.74583565389094", :cy => "186.0257", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "125.50696167282669", :cy => "166.0728", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "158.91640929573185", :cy => "176.77855", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "192.31056655359222", :cy => "148.3265", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "226.05640220748316", :cy => "158.9855", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "259.81752822641886", :cy => "166.933", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "293.22697584932405", :cy => "71.06744999999998", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "326.254164346109", :cy => "112.07655", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
                %circle{:cx => "360", :cy => "133.1608", :fill => "#efefef", :r => "4", :stroke => "#efefef", "stroke-width" => "1", :style => ""}
              .morris-hover.morris-default-style{:style => "display: none;"}
          / /.box-body
          .box-footer.no-border
            .row
              .col-xs-4.text-center{:style => "border-right: 1px solid #f4f4f4"}
                %div{:style => "display:inline;width:60px;height:60px;"}
                  %canvas{:height => "60", :width => "60"}
                  %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px none; background: transparent none repeat scroll 0% 0%; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px;", :type => "text", :value => "20"}/
                .knob-label Mail-Orders
              / ./col
              .col-xs-4.text-center{:style => "border-right: 1px solid #f4f4f4"}
                %div{:style => "display:inline;width:60px;height:60px;"}
                  %canvas{:height => "60", :width => "60"}
                  %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px none; background: transparent none repeat scroll 0% 0%; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px;", :type => "text", :value => "50"}/
                .knob-label Online
              / ./col
              .col-xs-4.text-center
                %div{:style => "display:inline;width:60px;height:60px;"}
                  %canvas{:height => "60", :width => "60"}
                  %input.knob{"data-fgcolor" => "#39CCCC", "data-height" => "60", "data-readonly" => "true", "data-width" => "60", :readonly => "readonly", :style => "width: 34px; height: 20px; position: absolute; vertical-align: middle; margin-top: 20px; margin-left: -47px; border: 0px none; background: transparent none repeat scroll 0% 0%; font: bold 12px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px;", :type => "text", :value => "30"}/
                .knob-label In-Store
              / ./col
            / /.row
          / /.box-footer
        / /.box
        / Calendar
        .box.box-solid.bg-green-gradient
          .box-header.ui-sortable-handle{:style => "cursor: move;"}
            %i.fa.fa-calendar
            %h3.box-title Calendar
            / tools box
            .pull-right.box-tools
              / button with a dropdown
              .btn-group
                %button.btn.btn-success.btn-sm.dropdown-toggle{"data-toggle" => "dropdown"}
                  %i.fa.fa-bars
                %ul.dropdown-menu.pull-right{:role => "menu"}
                  %li
                    %a{:href => "#"} Add new event
                  %li
                    %a{:href => "#"} Clear events
                  %li.divider
                  %li
                    %a{:href => "#"} View calendar
              %button.btn.btn-success.btn-sm{"data-widget" => "collapse"}
                %i.fa.fa-minus
              %button.btn.btn-success.btn-sm{"data-widget" => "remove"}
                %i.fa.fa-times
            / /. tools
          / /.box-header
          .box-body.no-padding
            / The calendar
            #calendar{:style => "width: 100%"}
              .datepicker.datepicker-inline
                .datepicker-days{:style => "display: block;"}
                  %table.table.table-condensed
                    %thead
                      %tr
                        %th.prev{:style => "visibility: visible;"} «
                        %th.datepicker-switch{:colspan => "5"} June 2015
                        %th.next{:style => "visibility: visible;"} »
                      %tr
                        %th.dow Su
                        %th.dow Mo
                        %th.dow Tu
                        %th.dow We
                        %th.dow Th
                        %th.dow Fr
                        %th.dow Sa
                    %tbody
                      %tr
                        %td.old.day 31
                        %td.day 1
                        %td.day 2
                        %td.day 3
                        %td.day 4
                        %td.day 5
                        %td.day 6
                      %tr
                        %td.day 7
                        %td.day 8
                        %td.day 9
                        %td.day 10
                        %td.day 11
                        %td.day 12
                        %td.day 13
                      %tr
                        %td.day 14
                        %td.day 15
                        %td.day 16
                        %td.day 17
                        %td.day 18
                        %td.day 19
                        %td.day 20
                      %tr
                        %td.day 21
                        %td.day 22
                        %td.day 23
                        %td.day 24
                        %td.day 25
                        %td.day 26
                        %td.day 27
                      %tr
                        %td.day 28
                        %td.day 29
                        %td.day 30
                        %td.new.day 1
                        %td.new.day 2
                        %td.new.day 3
                        %td.new.day 4
                      %tr
                        %td.new.day 5
                        %td.new.day 6
                        %td.new.day 7
                        %td.new.day 8
                        %td.new.day 9
                        %td.new.day 10
                        %td.new.day 11
                    %tfoot
                      %tr
                        %th.today{:colspan => "7", :style => "display: none;"} Today
                      %tr
                        %th.clear{:colspan => "7", :style => "display: none;"} Clear
                .datepicker-months{:style => "display: none;"}
                  %table.table.table-condensed
                    %thead
                      %tr
                        %th.prev{:style => "visibility: visible;"} «
                        %th.datepicker-switch{:colspan => "5"} 2015
                        %th.next{:style => "visibility: visible;"} »
                    %tbody
                      %tr
                        %td{:colspan => "7"}
                          %span.month Jan
                          %span.month Feb
                          %span.month Mar
                          %span.month Apr
                          %span.month May
                          %span.month Jun
                          %span.month Jul
                          %span.month Aug
                          %span.month Sep
                          %span.month Oct
                          %span.month Nov
                          %span.month Dec
                    %tfoot
                      %tr
                        %th.today{:colspan => "7", :style => "display: none;"} Today
                      %tr
                        %th.clear{:colspan => "7", :style => "display: none;"} Clear
                .datepicker-years{:style => "display: none;"}
                  %table.table.table-condensed
                    %thead
                      %tr
                        %th.prev{:style => "visibility: visible;"} «
                        %th.datepicker-switch{:colspan => "5"} 2010-2019
                        %th.next{:style => "visibility: visible;"} »
                    %tbody
                      %tr
                        %td{:colspan => "7"}
                          %span.year.old 2009
                          %span.year 2010
                          %span.year 2011
                          %span.year 2012
                          %span.year 2013
                          %span.year 2014
                          %span.year 2015
                          %span.year 2016
                          %span.year 2017
                          %span.year 2018
                          %span.year 2019
                          %span.year.new 2020
                    %tfoot
                      %tr
                        %th.today{:colspan => "7", :style => "display: none;"} Today
                      %tr
                        %th.clear{:colspan => "7", :style => "display: none;"} Clear
          / /.box-body
          .box-footer.text-black
            .row
              .col-sm-6
                / Progress bars
                .clearfix
                  %span.pull-left Task #1
                  %small.pull-right 90%
                .progress.xs
                  .progress-bar.progress-bar-green{:style => "width: 90%;"}
                .clearfix
                  %span.pull-left Task #2
                  %small.pull-right 70%
                .progress.xs
                  .progress-bar.progress-bar-green{:style => "width: 70%;"}
              / /.col
              .col-sm-6
                .clearfix
                  %span.pull-left Task #3
                  %small.pull-right 60%
                .progress.xs
                  .progress-bar.progress-bar-green{:style => "width: 60%;"}
                .clearfix
                  %span.pull-left Task #4
                  %small.pull-right 40%
                .progress.xs
                  .progress-bar.progress-bar-green{:style => "width: 40%;"}
              / /.col
            / /.row
        / /.box
      / right col
    / /.row (main row)
  / /.content
/ /.content-wrapper
/ Control Sidebar
%aside.control-sidebar.control-sidebar-dark
  / Create the tabs
  %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#control-sidebar-theme-demo-options-tab"}
        %i.fa.fa-wrench
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"}
        %i.fa.fa-home
    %li
      %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"}
        %i.fa.fa-gears
  / Tab panes
  .tab-content
    / Home tab content
    #control-sidebar-home-tab.tab-pane
      %h3.control-sidebar-heading Recent Activity
      %ul.control-sidebar-menu
        %li
          %a{:href => "javascript::;"}
            %i.menu-icon.fa.fa-birthday-cake.bg-red
            .menu-info
              %h4.control-sidebar-subheading Langdon's Birthday
              %p Will be 23 on April 24th
        %li
          %a{:href => "javascript::;"}
            %i.menu-icon.fa.fa-user.bg-yellow
            .menu-info
              %h4.control-sidebar-subheading Frodo Updated His Profile
              %p New phone +1(800)555-1234
        %li
          %a{:href => "javascript::;"}
            %i.menu-icon.fa.fa-envelope-o.bg-light-blue
            .menu-info
              %h4.control-sidebar-subheading Nora Joined Mailing List
              %p nora@example.com
        %li
          %a{:href => "javascript::;"}
            %i.menu-icon.fa.fa-file-code-o.bg-green
            .menu-info
              %h4.control-sidebar-subheading Cron Job 254 Executed
              %p Execution time 5 seconds
      / /.control-sidebar-menu
      %h3.control-sidebar-heading Tasks Progress
      %ul.control-sidebar-menu
        %li
          %a{:href => "javascript::;"}
            %h4.control-sidebar-subheading
              Custom Template Design
              %span.label.label-danger.pull-right 70%
            .progress.progress-xxs
              .progress-bar.progress-bar-danger{:style => "width: 70%"}
        %li
          %a{:href => "javascript::;"}
            %h4.control-sidebar-subheading
              Update Resume
              %span.label.label-success.pull-right 95%
            .progress.progress-xxs
              .progress-bar.progress-bar-success{:style => "width: 95%"}
        %li
          %a{:href => "javascript::;"}
            %h4.control-sidebar-subheading
              Laravel Integration
              %span.label.label-warning.pull-right 50%
            .progress.progress-xxs
              .progress-bar.progress-bar-warning{:style => "width: 50%"}
        %li
          %a{:href => "javascript::;"}
            %h4.control-sidebar-subheading
              Back End Framework
              %span.label.label-primary.pull-right 68%
            .progress.progress-xxs
              .progress-bar.progress-bar-primary{:style => "width: 68%"}
      / /.control-sidebar-menu
    #control-sidebar-theme-demo-options-tab.tab-pane.active
      %div
        %h4.control-sidebar-heading Layout Options
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-layout" => "fixed", :type => "checkbox"}/
            Fixed layout
          %p Activate the fixed layout. You can't use fixed and boxed layouts together
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-layout" => "layout-boxed", :type => "checkbox"}/
            Boxed Layout
          %p Activate the boxed layout
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-layout" => "sidebar-collapse", :type => "checkbox"}/
            Toggle Sidebar
          %p Toggle the left sidebar's state (open or collapse)
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-enable" => "expandOnHover", :type => "checkbox"}/
            Sidebar Expand on Hover
          %p Let the sidebar mini expand on hover
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-controlsidebar" => "control-sidebar-open", :type => "checkbox"}/
            Toggle Right Sidebar Slide
          %p Toggle between slide over content and push content effects
        .form-group
          %label.control-sidebar-subheading
            %input.pull-right{"data-sidebarskin" => "toggle", :type => "checkbox"}/
            Toggle Right Sidebar Skin
          %p Toggle between dark and light skins for the right sidebar
        %h4.control-sidebar-heading Skins
        %ul.list-unstyled.clearfix
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-blue", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #367fa9;"}
                %span.bg-light-blue{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Blue
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-black", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              .clearfix{:style => "box-shadow: 0 0 2px rgba(0,0,0,0.1)"}
                %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #fefefe;"}
                %span{:style => "display:block; width: 80%; float: left; height: 7px; background: #fefefe;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Black
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-purple", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-purple-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-purple{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Purple
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-green", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-green-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-green{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Green
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-red", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-red-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-red{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Red
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-yellow", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-yellow-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-yellow{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #222d32;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin Yellow
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-blue-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #367fa9;"}
                %span.bg-light-blue{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px"} Blue Light
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-black-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              .clearfix{:style => "box-shadow: 0 0 2px rgba(0,0,0,0.1)"}
                %span{:style => "display:block; width: 20%; float: left; height: 7px; background: #fefefe;"}
                %span{:style => "display:block; width: 80%; float: left; height: 7px; background: #fefefe;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px"} Black Light
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-purple-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-purple-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-purple{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px"} Purple Light
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-green-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-green-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-green{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px"} Green Light
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-red-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-red-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-red{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px"} Red Light
          %li{:style => "float:left; width: 33.33333%; padding: 5px;"}
            %a.clearfix.full-opacity-hover{"data-skin" => "skin-yellow-light", :href => "javascript:void(0);", :style => "display: block; box-shadow: 0 0 3px rgba(0,0,0,0.4)"}
              %div
                %span.bg-yellow-active{:style => "display:block; width: 20%; float: left; height: 7px;"}
                %span.bg-yellow{:style => "display:block; width: 80%; float: left; height: 7px;"}
              %div
                %span{:style => "display:block; width: 20%; float: left; height: 20px; background: #f9fafc;"}
                %span{:style => "display:block; width: 80%; float: left; height: 20px; background: #f4f5f7;"}
            %p.text-center.no-margin{:style => "font-size: 12px;"} Yellow Light
    / /.tab-pane
    / Stats tab content
    #control-sidebar-stats-tab.tab-pane Stats Tab Content
    / /.tab-pane
    / Settings tab content
    #control-sidebar-settings-tab.tab-pane
      %form{:method => "post"}
        %h3.control-sidebar-heading General Settings
        .form-group
          %label.control-sidebar-subheading
            Report panel usage
            %input.pull-right{:checked => "checked", :type => "checkbox"}/
          %p
            Some information about this general settings option
        / /.form-group
        .form-group
          %label.control-sidebar-subheading
            Allow mail redirect
            %input.pull-right{:checked => "checked", :type => "checkbox"}/
          %p
            Other sets of options are available
        / /.form-group
        .form-group
          %label.control-sidebar-subheading
            Expose author name in posts
            %input.pull-right{:checked => "checked", :type => "checkbox"}/
          %p
            Allow the user to show his name in blog posts
        / /.form-group
        %h3.control-sidebar-heading Chat Settings
        .form-group
          %label.control-sidebar-subheading
            Show me as online
            %input.pull-right{:checked => "checked", :type => "checkbox"}/
        / /.form-group
        .form-group
          %label.control-sidebar-subheading
            Turn off notifications
            %input.pull-right{:type => "checkbox"}/
        / /.form-group
        .form-group
          %label.control-sidebar-subheading
            Delete chat history
            %a.text-red.pull-right{:href => "javascript::;"}
              %i.fa.fa-trash-o
        / /.form-group
    / /.tab-pane
/ /.control-sidebar
/
  Add the sidebar's background. This div must be placed
  immediately after the control sidebar
.control-sidebar-bg{:style => "position: fixed; height: auto;"}
