%section.content-header
  %h1
    Tablica
    %small Panel administratora
/ Main content
%section.content.content-wrapper
  / Small boxes (Stat box)
  .row
    .col-lg-4.col-xs-6
      / small box
      .small-box.bg-purple
        .inner
          %h3 150
          %p Zamówień
        .icon
          %i.fa.fa-cart-plus
        %a.small-box-footer{:href => "#"}
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-4.col-xs-6
      / small box
      .small-box.bg-yellow
        .inner
          %h3 #{@categories}
          %p Kategorii
        .icon
          %i.fa.fa-cubes
        %a.small-box-footer{:href => admin_categories_path }
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-4.col-xs-6
      / small box
      .small-box.bg-red
        .inner
          %h3 #{@products}
          %p Produktów
        .icon
          %i.fa.fa-barcode
        %a.small-box-footer{:href => admin_products_path}
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-3.col-xs-6
      / small box
      .small-box.bg-aqua
        .inner
          %h3 #{@models}
          %p Modeli
        .icon
          %i.fa.fa-mobile
        %a.small-box-footer{:href => admin_modelindex_path }
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-3.col-xs-6
      / small box
      .small-box.bg-green
        .inner
          %h3 #{@types}
          %p Typów
        .icon
          %i.fa.fa-cogs
        %a.small-box-footer{:href => admin_gears_path }
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-3.col-xs-6
      / small box
      .small-box.bg-orange
        .inner
          %h3 #{@users}
          %p Użytkowników
        .icon
          %i.fa.fa-user
        %a.small-box-footer{:href => admin_profiles_path}
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
    .col-lg-3.col-xs-6
      / small box
      .small-box.bg-teal
        .inner
          %h3 #{@slider_images}
          %p Zdjęć na stronie głównej
        .icon
          %i.fa.fa-photo
        %a.small-box-footer{:href => admin_slider_images_path}
          Zarządzaj
          %i.fa.fa-arrow-circle-right
    / ./col
  / /.row
  / Main row
  .row
  %br/
  .row
    .col-md-1
    .col-md-10
      #line-example{:style => "height: 300px;"}
