.container-fluid
  .row
    =render 'carousel'
  .row
    .col-md-2.text-center
      .list-group
        .list-group-item
          %h3.filters-header
            = icon 'search'
            Filtrowanie
            %span.caret-wrap
              %span.caret
        .list-group-item.filters
          = form_tag(products_path, method: :get, id: "filters-form") do
            .price
              %h4 Cena
              = text_field_tag 'price_min', nil, placeholder: "od", value: @price_low
              = text_field_tag 'price_max', nil, placeholder: "do", value: @price_high
            %hr
            .categories
              %h4 Kategorie
              - @categories.each do |category|
                = label_tag do
                  = check_box_tag 'cid[]', category.id, ( !@cid.blank? and @cid.include?( (category.id).to_s ) )
                  = category.name.capitalize
            %hr
            .gears
              %h4 Typy
              - @gears.each do |gear|
                = label_tag do
                  = check_box_tag 'g[]', gear.id, ( !@g.blank? and @g.include?( (gear.id).to_s ) )
                  = gear.name
            %hr
            .models
              - unless @models == nil
                %h4 Modele
                - @models.each do |model|
                  = label_tag do
                    = check_box_tag 'm[]', model.id, ( !@m.blank? and @m.include?( (model.id).to_s ) )
                    = model.name
                %hr
            = button_tag 'Filtruj!', name: nil, class: "btn btn-default"
    .col-md-10
      %h1 Produkty:
      - @products.each do |p|
        .col-xs-4.col-md-2.text-center
          %a.thumbnail{:href => product_path(p.id), title: "#{p.gear.parent.name.capitalize} - model: #{p.gear.name}", 'data-placement' => 'bottom', 'data-toggle' => 'tooltip'}
            =image_tag p.product_images.first.photo(:thumb)
            .caption
              =p.name.truncate(28)
              %br/
              %b=number_to_currency(p.price, format: '%n%u', unit: 'zł')
:javascript
  $(document).ready(filters);
