.container 
  .row
  .col-md-10.col-md-offset-1.text-center
    %h1=  @product.name
    %hr/
  .row
    .col-md-7
      =render 'show_carousel'
    .col-md-5.text-center.status
      %p
        %h2 Cena:
        =@product.price
        zł
      %p
        %h2 Kategoria:
        =@product.category.name
      %p
        %h2 Typ:
        =@product.gear.parent.name
      %p
        %h2 Model:
        =@product.gear.name 
      %p
        %h2 Opis:
        =@product.description
      %p
        %h2 Status:
        -if @product.status == 'dostepny'
          %h4.available 
            Dostępny
        -if @product.status == 'niedostepny'
          %h4.unavailable
            Produkt obecnie niedostępny
        -if @product.status == 'zamowienie'
          %h4.onorder-order
            Produkt dostępny na specjalne zamówienie. Skontaktuj się ze sklepem.
      -if @product.status == 'dostepny'
        = form_tag :additem, method: "post" do
          = label_tag :quantity, "Ilość sztuk:"
          = number_field_tag :quantity, 1, min:1, max:99, class: 'item-number-field'
          = hidden_field_tag :product_id, @product.id
          = submit_tag "Dodaj"
  .row
    %br/
    %hr/
    .col-sm-10.col-sm-offset-1
      =render 'similar_products'

