!!!
%html
  %head
    %title ApplePieróg
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'navbar'
    -if flash[:notice]
      .alert.alert-info{:role => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times; 
        .text-center
          =flash[:notice]
    -if alert
      .alert.alert-warning{:role => "warning"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times; 
        .text-center
          = alert
    = yield
    .container
      %hr
      %footer
        .row
          .col-md-2.text-center.col-md-offset-5
            %p Apple Pieróg
          .col-md-1.col-md-offset-1.text-center
            =link_to 'Kontakt', contact_path
          .col-md-1.text-center
            =link_to 'O nas', about_path
          .col-md-1.text-center
            =link_to 'Regulamin', rules_path
