!!!
%html
  %head
    %title ApplePieróg
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'navbar'
    -if flash[:notice]
      .alert.alert-info{:role => "alert"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times; 
        .text-center
          =flash[:notice]
    -if flash[:error]
      .alert.alert-warning{:role => "warning"}
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times; 
        .text-center
          =flash[:error] 
    = yield
    .container
      %hr
      %footer
        .row
          .col-lg-12.text-center
            %p Apple Pieróg
            -if current_user &&  current_user.is_admin
              = link_to 'Panel Administratora', admin_root_path
